app/n8n/workflows/01_hour_reporting_form.json
{
  "name": "TimeTracker — Hour Reporting Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Report Hours — Step 1 of 2",
        "formDescription": "Fill in your activity details. Your name, client, and project will be loaded dynamically in the next step.",
        "responseMode": "responseNode",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Hours",
              "fieldType": "number",
              "requiredField": true,
              "placeholder": "2.5"
            },
            {
              "fieldLabel": "Activity Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Time Frame",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "daily" },
                  { "option": "weekly" },
                  { "option": "monthly" }
                ]
              }
            },
            {
              "fieldLabel": "Activity Description",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Brief description of the work done"
            },
            {
              "fieldLabel": "Activity Comments",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Blockers, highlights, notes..."
            }
          ]
        },
        "options": {}
      },
      "id": "form-trigger-hours",
      "name": "Hour Reporting Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT json_agg(full_name ORDER BY full_name)\n   FROM employees\n   WHERE is_active = true) AS employees,\n  (SELECT json_agg(client_name ORDER BY client_name)\n   FROM clients\n   WHERE status = 'active') AS clients,\n  (SELECT json_agg(project_name ORDER BY project_name)\n   FROM projects\n   WHERE status = 'active') AS projects;",
        "options": {}
      },
      "id": "pg-fetch-options",
      "name": "Fetch Dropdown Options",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert the json_agg arrays returned by Postgres into\n// the { option: string }[] format that N8N form dropdowns expect.\nconst row = $input.first().json;\n\nconst toOptions = arr => (arr || []).map(name => ({ option: name }));\n\nreturn [{\n  json: {\n    employeeOptions: toOptions(row.employees),\n    clientOptions:   toOptions(row.clients),\n    projectOptions:  toOptions(row.projects)\n  }\n}];"
      },
      "id": "code-format-options",
      "name": "Format Dropdown Options",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "formTitle": "Report Hours — Step 2 of 2",
        "formDescription": "Select your name and the client and project you worked on.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Employee Name",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": "={{ $json.employeeOptions }}"
              }
            },
            {
              "fieldLabel": "Client Name",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": "={{ $json.clientOptions }}"
              }
            },
            {
              "fieldLabel": "Project Name",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": "={{ $json.projectOptions }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "form-page-2",
      "name": "Select Employee, Client & Project",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO time_entries (\n  employee_id,\n  project_id,\n  client_id,\n  hours,\n  time_frame,\n  activity_date,\n  activity_description,\n  activity_comments\n)\nSELECT\n  e.id,\n  p.id,\n  c.id,\n  {{ $('Hour Reporting Form').first().json['Hours'] }}::NUMERIC,\n  '{{ $('Hour Reporting Form').first().json['Time Frame'] }}'::time_frame_type,\n  '{{ $('Hour Reporting Form').first().json['Activity Date'] }}'::DATE,\n  '{{ $('Hour Reporting Form').first().json['Activity Description'] }}',\n  '{{ $('Hour Reporting Form').first().json['Activity Comments'] }}'\nFROM employees e\nCROSS JOIN projects p\nCROSS JOIN clients c\nWHERE e.full_name    = '{{ $json[''Employee Name''] }}'\n  AND p.project_name = '{{ $json[''Project Name''] }}'\n  AND c.client_name  = '{{ $json[''Client Name''] }}'\nRETURNING id, hours, activity_date;",
        "options": {}
      },
      "id": "pg-insert-hours",
      "name": "Insert Time Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-insert-ok",
      "name": "Insert Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1550, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseText": "={{ $('Insert Time Entry').first().json.hours }} hours recorded for {{ $('Hour Reporting Form').first().json['Activity Date'] }}. Thank you!",
        "options": {}
      },
      "id": "success-response",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseText": "Failed to record hours. Make sure your name, client, and project are registered in the system.",
        "responseCode": 422,
        "options": {}
      },
      "id": "error-response",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 400]
    }
  ],
  "connections": {
    "Hour Reporting Form": {
      "main": [
        [
          { "node": "Fetch Dropdown Options", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Dropdown Options": {
      "main": [
        [
          { "node": "Format Dropdown Options", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Dropdown Options": {
      "main": [
        [
          { "node": "Select Employee, Client & Project", "type": "main", "index": 0 }
        ]
      ]
    },
    "Select Employee, Client & Project": {
      "main": [
        [
          { "node": "Insert Time Entry", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Time Entry": {
      "main": [
        [
          { "node": "Insert Succeeded?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Succeeded?": {
      "main": [
        [
          { "node": "Respond Success", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Error", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "TimeTracker" },
    { "name": "Forms" }
  ]
}
