app/n8n/workflows/01_hour_reporting_form.json
{
  "name": "TimeTracker — Hour Reporting Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Report Hours",
        "formDescription": "Submit your worked hours for a given activity. Fill in all required fields.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Employee Email",
              "fieldType": "email",
              "requiredField": true,
              "placeholder": "you@slatestudio.com"
            },
            {
              "fieldLabel": "Client Name",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "— Load from DB (see setup notes) —" }
                ]
              }
            },
            {
              "fieldLabel": "Project Name",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "— Load from DB (see setup notes) —" }
                ]
              }
            },
            {
              "fieldLabel": "Hours",
              "fieldType": "number",
              "requiredField": true,
              "placeholder": "2.5"
            },
            {
              "fieldLabel": "Activity Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Time Frame",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "daily" },
                  { "option": "weekly" },
                  { "option": "monthly" }
                ]
              }
            },
            {
              "fieldLabel": "Activity Description",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Brief description of the work done"
            },
            {
              "fieldLabel": "Activity Comments",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "Blockers, highlights, notes..."
            }
          ]
        },
        "respondWith": "text",
        "responseText": "Hours submitted successfully. Thank you!",
        "options": {}
      },
      "id": "form-trigger-hours",
      "name": "Hour Reporting Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO time_entries (\n  employee_id,\n  project_id,\n  client_id,\n  hours,\n  time_frame,\n  activity_date,\n  activity_description,\n  activity_comments\n)\nSELECT\n  e.id,\n  p.id,\n  c.id,\n  {{ $json['Hours'] }}::NUMERIC,\n  '{{ $json['Time Frame'] }}'::time_frame_type,\n  '{{ $json['Activity Date'] }}'::DATE,\n  '{{ $json['Activity Description'] }}',\n  '{{ $json['Activity Comments'] }}'\nFROM employees e\nCROSS JOIN projects p\nCROSS JOIN clients c\nWHERE e.email   = '{{ $json['Employee Email'] }}'\n  AND p.project_name = '{{ $json['Project Name'] }}'\n  AND c.client_name  = '{{ $json['Client Name'] }}'\nRETURNING id, hours, activity_date;",
        "options": {}
      },
      "id": "pg-insert-hours",
      "name": "Insert Time Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-insert-ok",
      "name": "Insert Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.hours }} hours recorded for {{ $('Hour Reporting Form').item.json['Activity Date'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Insert failed — check that employee email, project, and client name exist in the database.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-response",
      "name": "Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Hour Reporting Form": {
      "main": [
        [
          {
            "node": "Insert Time Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Time Entry": {
      "main": [
        [
          {
            "node": "Insert Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Succeeded?": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "TimeTracker" },
    { "name": "Forms" }
  ]
}
