app/n8n/workflows/07_custom_form_submit.json
{
  "name": "TimeTracker — Custom Form Submit (POST)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "custom-form",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-post-submit",
      "name": "Webhook — POST Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "REPLACE_WITH_UNIQUE_ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO time_entries (\n  employee_id,\n  project_id,\n  client_id,\n  hours,\n  time_frame,\n  activity_date,\n  activity_description,\n  activity_comments\n)\nSELECT\n  e.id,\n  p.id,\n  c.id,\n  {{ $json.hours }}::NUMERIC,\n  '{{ $json.time_frame }}'::time_frame_type,\n  '{{ $json.activity_date }}'::DATE,\n  '{{ $json.activity_description }}',\n  '{{ $json.activity_comments }}'\nFROM employees e\nCROSS JOIN projects p\nCROSS JOIN clients c\nWHERE e.full_name    = '{{ $json.employee_name }}'\n  AND p.project_name = '{{ $json.project_name }}'\n  AND c.client_name  = '{{ $json.client_name }}'\nRETURNING id, hours, activity_date;",
        "options": {}
      },
      "id": "pg-insert-entry",
      "name": "Insert Time Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-insert-ok",
      "name": "Insert Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: $json.hours + ' hours recorded for ' + $json.activity_date + '. Thank you!' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"error\", \"message\": \"Failed to record hours. Verify that your name, client, and project exist and are active in the system.\"}",
        "options": {
          "responseCode": 422,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook — POST Submit": {
      "main": [
        [
          { "node": "Insert Time Entry", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Time Entry": {
      "main": [
        [
          { "node": "Insert Succeeded?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Succeeded?": {
      "main": [
        [
          { "node": "Respond Success", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Error", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "TimeTracker" },
    { "name": "API" }
  ]
}
